<h1>Roasting and Boasting</h1>

<a href="/post/"><button> make a post </button></a>
  <a href='/boast/'><button>Boast</button></a>  
  <a href='/roast/'><button>Roast</button></a>  
  <a href='/'><button> all posts </button></a>
  <a href='/loved/'><button> most love </button></a>  
  <a href='/hated/'><button> most hate </button></a>
<br>
<br>
{% for item in data %}
    
    {% ifequal item.boast False %}
        Roast
    {% endifequal %}
    {% ifequal item.boast True %}
        Boast
    {% endifequal %}
    <br>
    {{ item }}
    <br>
    <a href='/upvote/{{item.id}}'><button>love</button></a>
    {{ item.total }}
    <a href='/downvote/{{item.id}}'><button>hate</button></a>
    <br>
    {{ item.date }}
    <br>
<br>
{% endfor %}